html{
height: 100%;
}
body{
   background-color: #666666;
   background-image: url("../images/natalbank.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    
    margin-left: auto;
    margin-right: auto;
}
header{

    height: 120px;
}
   
main{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;

}


.loginform{
    width: 30%;
    height: 300px;
    margin-right: auto;
    text-align: center;
   

}
.username, .password{
    width: 100%;
    height: 2rem;
    border: 0.2rem solid rgba(163, 148, 62, 0.836);
    border-radius: 1000px;
    color: rgba(136, 136, 135, 0.685);
    font-size: 1.3rem;
    background-color: rgba(18, 18, 31, 0.068);
    text-align: center;

    
}
.button{
   background-color: rgba(18, 18, 31, 0.089);
   width: 80%;
   height: 2rem;
   border: 0.2rem solid rgba(163, 148, 62, 0.836);
   border-radius: 1000px;
   color: rgba(163, 148, 62, 0.836);
   font-size: 1.3rem;

}
.usernamewrap{
    margin-bottom: 1rem;
}
.passwordwrap{
    margin-bottom: 1rem;
}
.buttonwrap{
    margin-bottom: 1rem;
    text-align: center;
}
.sysname{
    width: 30%;
    text-align: center;
    color: rgba(247, 234, 165, 0.849);
    font-size: 1.5rem;
    font-weight: bolder;
}




