<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login Page</title>
    <meta name="description" content="natalbank employee management system">
    <link rel="stylesheet" href="../static/css/loginPage.css" th:href="@{/css/loginPage.css}" >
</head>
<body>
    <div class="container">
        <header>
            
        </header>
        <main>
            <div class="loginform">
                <form action="#" method="post" >
                <div class="usernamewrap">
                    <input type="text" name="username" id="username" placeholder="Username" required="required" class="username"/>
                </div>
                
                <div class="passwordwrap">
                    <input type="password" name="password" id="password" placeholder="Password" required="required" class="password"/>
                </div>
                <div class="buttonwrap">
                    <input type="submit" value="Login" class="button">
                </div>
                </form>
            </div>
            <div class="sysname">
                <h1>Employees Management System</h1>
            </div>
           
        </main>

    </div>
</body>
</html>